# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- List popular languages for Data Science
- Practice using the Jupyter Notebook
- List popular libraries for Data Science

##### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Visual Studio Code (VS Code) |

#### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
print ((3*4)+5)

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
print (200/60)

3.3333333333333335

## Author: 
Jackson